<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="static/CSS/Styles/style.css">
    <link rel="stylesheet" href="static/CSS/Styles/header.css">
    <link rel="stylesheet" href="static/CSS/Styles/home.css">
    <link rel="stylesheet" href="static/CSS/Styles/menu.css">
    <link rel="stylesheet" href="static/CSS/Styles/App.css">
    <link rel="stylesheet" href="static/CSS/Styles/footer.css">


</head>

<body>

    <header>
        <nav id="navbar">
            <i class="fa-solid fa-wrench" id="nav_logo">HELP</i>

            <ul id="nav_list">
                <li class="nav-item active">
                    <a href="{{ url_for('home') }}">Home</a>
                </li>

                <li class="nav-item">
                    <a href="#services">Serviços</a>
                </li>

                <li class="nav-item">
                    <a href="#feedbacks">Avaliações</a>
                </li>
            </ul>

            <a href="{{ url_for('cadastro') }}" class="btn-default">

                Area exclusiva
            </a>

            <button id="mobile_btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>

        <!-- arrumar o bug do botão mobile-->
        <div id="mobile_menu">
            <ul id="mobile_nav_list">
                <li class="nav-item">
                    <a href="{{ url_for('home') }}">Home</a>
                </li>

                <li class="nav-item">
                    <a href="#services">Serviços</a>
                </li>

                <li class="nav-item">
                    <a href="#feedbacks">Avaliações</a>
                </li>
            </ul>

            <a href="{{ url_for('cadastro') }}" class="btn-default"></a>
        </div>
    </header>
    <script src="{{ url_for('static', filename='JavaScript/script.js') }}"></script>
    <main id="content">

        <!--Pagina Home-->
        <section id="home">
            <div class="shape"></div>
            <div id="cta">
                <h1 class="title">Aplicativo
                    <span>Mobile</span>
                </h1>

                <p class="description">
                    Baixe agora nosso aplicativo móvel e tenha acesso a todas as funcionalidades do nosso site na palma
                    da sua mão! Com uma interface intuitiva e recursos exclusivos, nosso aplicativo é a forma mais
                    prática e conveniente de usar nossos serviços onde quer que esteja. Baixe agora mesmo e experimente
                    por si mesmo!
                </p>

                <div id="cta_buttons">
                    <a href="{{ url_for('home') }}" class="btn-default">
                        Voltar
                    </a>
                </div>



                <div class="social-media-buttons">
                    <a href="">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>

                    <a href="">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="https://youtu.be/dQw4w9WgXcQ?si=il_WF92SzNVao0EX">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>

            </div>
            <div id="banner">

                <img src="static/Imagens/Banners/Smartphone devices.png" id="Smartphone">
            </div>

        </section>


        <h1 id="app-title">Baixe o nosso aplicativo mobile</h1>

        <p class="app-paragrafo">Agora, com nosso aplicativo, você pode acessar todos os recursos e conteúdos do nosso
            site diretamente no seu celular de maneira rápida e conveniente. Basta escanear o QR code abaixo para baixar
            o app e começar a explorar uma nova forma de interação conosco.
        </p>

        <p class="app-paragrafo">O aplicativo oferece uma navegação ágil e intuitiva, ideal para quem busca praticidade
            e uma experiência personalizada. Através dele, você terá acesso instantâneo às últimas novidades,
            atualizações e conteúdos exclusivos — tudo em tempo real. E, como ele foi desenvolvido para funcionar de
            forma otimizada, você terá uma interface mais limpa, ágil e funcional, adaptada especialmente para
            dispositivos móveis.</p>

        <p class="app-paragrafo">Para garantir uma experiência completa e contínua, o app precisa de conexão com a
            internet. Isso significa que você poderá navegar pelos nossos conteúdos, acessar todas as funcionalidades e
            aproveitar todos os recursos sempre que estiver online. Seja para se manter atualizado, participar de
            promoções, ou acessar materiais exclusivos, tudo estará ao seu alcance de maneira simples e prática.

        </p>
        <p class="app-paragrafo">Não perca a chance de levar a experiência do nosso site para o seu celular. Baixe agora
            o aplicativo, escaneando o QR code abaixo, e tenha acesso a uma nova forma de aproveitar o que preparamos
            especialmente para você.</p>


        <img src="static/Imagens/Aplicativo/APP_MOBILE-removebg-preview.png" id="qrcode">

        <h2 id="Aplicativo">Conheça o nosso aplicativo:</h2>

        <img src="static/Imagens/Android  - 1080x2400-20241114T005330Z-001/Android  - 1080x2400/pag_inicial.png"
            class="app-images" alt="">

        <img src="static/Imagens/Android  - 1080x2400-20241114T005330Z-001/Android  - 1080x2400/home.png" alt=""
            class="app-images">
        <img src="static/Imagens/Android  - 1080x2400-20241114T005330Z-001/Android  - 1080x2400/trabalhador_cliente.png" alt=""
            class="app-images">
        <img src="static/Imagens/Android  - 1080x2400-20241114T005330Z-001/Android  - 1080x2400/email_enviado.png" alt=""
            class="app-images">














































        <footer>
            <div id="footer_content">
                <div id="fotter_contacts">
                    <h1>HELP</h1>
                    <p>Chamou? Dá um HELP aí</p>


                    <div id="footer_social-media">
                        <a href="#" class="footer_link" id="Instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>

                        <a href="#" class="footer_link" id="Facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>

                        <a href="https://youtu.be/dQw4w9WgXcQ?si=il_WF92SzNVao0EX" class="footer_link" id="Youtube">
                            <i class="fa-brands fa-youtube"></i>
                        </a>


                    </div>
                </div>

                <ul class="footer-list">
                    <li>
                        <h3>A HELP</h3>
                    </li>

                    <li>
                        <a href="{{ url_for('sobre_nos') }}" class="footer_link"> Sobre nós </a>
                    </li>

                    <li>
                        <a href="#" class="footer_link"> Carreiras</a>
                    </li>

                    <li>
                        <a href="{{ url_for('mobile') }}" class="footer_link"> Aplicativo Mobile </a>
                    </li>

                    <li>
                        <a href="#" class="footer_link"> Duvidas Frequentes </a>
                    </li>
                </ul>


                <ul class="footer-list">
                    <li>
                        <h3>Relacionamento ao cliente</h3>
                    </li>

                    <li>
                        <a href="{{ url_for('politica') }}" class="footer_link"> Politica de privacidade </a>
                    </li>

                    <li>
                        <a href="#" class="footer_link"> Alerta de segurança </a>
                    </li>

                    <li>
                        <a href="{{ url_for('termos') }}" class="footer_link"> Termos de uso </a>
                    </li>

                    <li>
                        <a href="#" class="footer_link"> Fale conosco </a>
                    </li>
                </ul>

                <div id="footer_subscribe">
                    <h3>Cadastre-se</h3>

                    <p>Fique por dentro das novidades da HELP, cadastre-se!</p>

                    <div id="input_group">
                        <input type="email" name="" id="">
                        <button>
                            <a href="{{ url_for('cadastro') }}"><i class="fa-regular fa-envelope"></i></a>
                        </button>
                    </div>
                </div>
            </div>

            <div id="footer_copyright">
                &#169
                2024 todos os direitos reservados
            </div>
        </footer>






































    </main>
</body>