<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliações</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="static/CSS/Styles/style.css">
    <link rel="stylesheet" href="static/CSS/Styles/header.css">
    <link rel="stylesheet" href="static/CSS/Styles/home.css">
    <link rel="stylesheet" href="static/CSS/Styles/menu.css">
    <link rel="stylesheet" href="static/CSS/Styles/Testemunials.css">
    <link rel="stylesheet" href="static/CSS/Styles/footer.css">
    <link rel="stylesheet" href="static/CSS/Styles/avaliações.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

    <header>
        <nav id="navbar">
            <i class="fa-solid fa-wrench" id="nav_logo">HELP</i>

            <ul id="nav_list">
                <li class="nav-item active">
                    <a href="{{ url_for('home') }}">Home</a>
                </li>

                <li class="nav-item">
                    <a href="#services">Serviços</a>
                </li>

                <li class="nav-item">
                    <a href="#feedbacks">Avaliações</a>
                </li>
            </ul>

            <button class="btn-default">
                Area Exclusiva
            </button>

            <button id="mobile_btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>

        <!-- arrumar o bug do botão mobile-->
        <div id="mobile_menu">
            <ul id="mobile_nav_list">
                <li class="nav-item">
                    <a href="{{ url_for('home') }}">Home</a>
                </li>

                <li class="nav-item">
                    <a href="#services">Serviços</a>
                </li>

                <li class="nav-item">
                    <a href="#feedbacks">Avaliações</a>
                </li>
            </ul>

            <button class="btn-default">
                Area Exclusiva
            </button>
        </div>
    </header>
    <script src="{{ url_for('static', filename='JavaScript/script.js') }}"></script>
    <main id="content">

        <!--Pagina Home-->
        <section id="home">
            <div class="shape"></div>
            <div id="cta">
                <h1 class="title">Acompanhe os nossos
                    <span>Feedbacks</span>
                </h1>

                <p class="description">
                    Bem-vindo à nossa seção de avaliações! Aqui, você pode conferir as opiniões e experiências de outros
                    usuários sobre nossos produtos/serviços. Sua voz é importante para nós, então sinta-se à vontade
                    para compartilhar sua avaliação e ajudar a comunidade a fazer escolhas informadas. Juntos,
                    construímos um espaço de confiança e transparência!
                </p>

                <div id="cta_buttons">
                    <a href="{{ url_for('home') }}" class="btn-default">
                        voltar
                    </a>
                </div>



                <div class="social-media-buttons">
                    <a href="">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>

                    <a href="">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="https://youtu.be/dQw4w9WgXcQ?si=il_WF92SzNVao0EX">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>

            </div>
            <div id="banner">

                <img src="static/Imagens/Banners/avaliacao-desempenho-image.png">
            </div>

        </section>


        <h1>Avaliações</h1>
        <p>Fique por dentro do que nossos usuários estão comentando e sinta-se à vontade para participar também! Estamos
            comprometidos em garantir um ambiente de conforto e transparência entre você e nossa equipe de suporte. Sua
            opinião é valiosa para nós, e juntos podemos criar uma comunidade ainda mais forte e colaborativa!</p>

        <div id="feedbacks">
            <div class="feedback">
                <img src="static/Imagens/PedrãoKanbanScrum.jpg" class="feedback-avatar" alt="">

                <div class="feedback-content">
                    <p>
                        <strong>Pedrão CRUD</strong>

                    </p>

                    <p>Eu tenho uma
                        estratégia!.
                    </p>
                </div>
            </div>

            <div class="feedback">
                <img src="static/Imagens/Gato 2.webp" class="feedback-avatar" alt="">

                <div class="feedback-content">
                    <p>
                        <strong>Pedro Toledo</strong>
                        <span>
                        </span>
                    </p>

                    <p>Como vocês tem coragem de fazer um site assim, eu teria vergonha de postar isso
                        kkkkkkkkkkkkk</p>
                </div>
            </div>

            <div class="feedback">
                <img src="static/Imagens/Minha foto (2).jpg" class="feedback-avatar" alt="">

                <div class="feedback-content">
                    <p>
                        <strong>Alexandre Henrique</strong>

                    </p>

                    <p>Muito bom, nota 2!</p>
                </div>
            </div>

            <div class="feedback">
                <img src="static/Imagens/Benedito.jpg" class="feedback-avatar" alt="">

                <div class="feedback-content">
                    <p>
                        <strong>Benedito Reinan</strong>

                    </p>

                    <p>Fui comprar pão de queijo em Poá e não tinha :(
                    </p>
                </div>
            </div>

           




































            <!--Rodapé-->
            <footer>
                <div id="footer_content">
                    <div id="fotter_contacts">
                        <h1>HELP</h1>
                        <p>Chamou? Dá um HELP aí</p>


                        <div id="footer_social-media">
                            <a href="#" class="footer_link" id="Instagram">
                                <i class="fa-brands fa-instagram"></i>
                            </a>

                            <a href="#" class="footer_link" id="Facebook">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>

                            <a href="https://youtu.be/dQw4w9WgXcQ?si=il_WF92SzNVao0EX" class="footer_link" id="Youtube">
                                <i class="fa-brands fa-youtube"></i>
                            </a>


                        </div>
                    </div>

                    <ul class="footer-list">
                        <li>
                            <h3>A HELP</h3>
                        </li>

                        <li>
                            <a href="Sobre-nós ofl.html" class="footer_link"> Sobre nós </a>
                        </li>

                        <li>
                            <a href="#" class="footer_link"> Carreiras</a>
                        </li>

                        <li>
                            <a href="Aplicativo mobile.html" class="footer_link"> Aplicativo Mobile </a>
                        </li>

                        <li>
                            <a href="#" class="footer_link"> Duvidas Frequentes </a>
                        </li>
                    </ul>


                    <ul class="footer-list">
                        <li>
                            <h3>Relacionamento ao cliente</h3>
                        </li>

                        <li>
                            <a href="Politica de privacidade.html" class="footer_link"> Politica de privacidade </a>
                        </li>

                        <li>
                            <a href="#" class="footer_link"> Alerta de segurança </a>
                        </li>

                        <li>
                            <a href="Termos de uso.html" class="footer_link"> Termos de uso </a>
                        </li>

                        <li>
                            <a href="#" class="footer_link"> Fale conosco </a>
                        </li>
                    </ul>

                    <div id="footer_subscribe">
                        <h3>Cadastre-se</h3>

                        <p>Fique por dentro das novidades da HELP, cadastre-se!</p>

                        <div id="input_group">
                            <input type="email" name="" id="">
                            <button>
                                <a href="Cadastro.html"><i class="fa-regular fa-envelope"></i></a>
                            </button>
                        </div>
                    </div>
                </div>

                <div id="footer_copyright">
                    &#169
                    2024 todos os direitos reservados
                </div>
            </footer>

    </main>
</body>