<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro</title>
    <link rel="stylesheet" href="CSS/Cadastro 2.css">
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="Imagens/undraw_website_5bo8.svg">
        </div>

        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastre-se</h1>
                    </div>
                    <div class="login-button">
                        <button><a href="#">Entrar</a></button>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="CPF">CPF</label>
                        <input id="CPF" type="number" name="CPF" placeholder="Digite o seu CPF"> <!--required-->
                    </div>

                    <div class="input-box">
                        <label for="dateofbirth">Data de nascimento</label>
                        <input id="dateofbirth" type="date" name="dateofbirth" placeholder="Digite o seu Sobrenome">
                        <!--required-->
                    </div>

                    <div class="input-box">
                        <label for="CEP">CEP</label>
                        <input id="CEP" type="number" name="CEP" placeholder="Digite o seu CEP"> <!--required-->
                    </div>

                    <div class="input-box">
                        <label for="state">Estado</label>
                        <input id="state" type="text" name="state" placeholder="Selecione o seu Estado"> <!--required-->
                    </div>

                    <div class="input-box">
                        <label for="city">Cidade</label>
                        <input id="city" type="text" name="city" placeholder="Digite sua senha"> <!--required-->
                    </div>

                    <div class="input-box">
                        <label for="adress">Endereço</label>
                        <input id="adress" type="text" name="adress" placeholder="Digite o seu endereço">
                        <!--required-->
                    </div>


                </div>
                <div class="continue-button">
                    <button><a href="index.html">Cadastrar</a></button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>