<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurações</title>
    <link rel="stylesheet" href="static/CSS/Serviços/sidebar.css">
</head>

<body>

</body>

</html>
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/CSS/Serviços/Prestador.css">
    <title>Sidebar</title>
</head>

<body>
    <nav id="sidebar">
        <div id="sidebar_content">
            <div id="user">
                <img src="static/Imagens/PedrãoKanbanScrum.jpg" id="user_avatar" alt="Avatar">

                <p id="user_infos">
                    <span class="item-description">
                        Pedrão Scrum
                    </span>
                    <span class="item-description">
                        CADE MINHA TELA!!
                    </span>
                </p>
            </div>

            <ul id="side_items">
                <li class="side-item ">
                    <a href="{{ url_for('prestador') }}">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="item-description">
                            Meu Perfil
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a href="{{ url_for('chat') }}">
                        <i class="fa-brands fa-rocketchat"></i> <span class="item-description">
                            Minhas conversas
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a href="{{ url_for('notificacao') }}">
                        <i class="fa-solid fa-bell"></i>
                        <span class="item-description">
                            Notificações
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a href="{{ url_for('atividade') }}">
                        <i class="fa-solid fa-handshake"></i> <span class="item-description">
                            Atividades
                        </span>
                    </a>
                </li>

                <li class="side-item ">
                    <a href="{{ url_for('historico') }}">
                        <i class="fa-solid fa-table"></i> <span class="item-description">
                            histórico de consulta
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a href="{{ url_for('help_pro') }}">
                        <i class="fa-solid fa-wrench"></i>
                        <span class="item-description">
                            Vire Help PRO
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a href="{{ url_for('denuncia') }}">
                        <i class="fa-solid fa-flag"></i>
                        <span class="item-description">
                            Denunciar
                        </span>
                    </a>
                </li>

                <li class="side-item active">
                    <a href="{{ url_for('configuracao') }}">
                        <i class="fa-solid fa-gear"></i>
                        <span class="item-description">
                            Configurações
                        </span>
                    </a>
                </li>
            </ul>
            <button id="open_btn">
                <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <div id="logout">
            <a href="{{ url_for('home') }}" id="logout">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="item-description">
                    Logout
                </span>
            </a>
        </div>
    </nav>

    <main>
        <h1>Configurações
        </h1>


    </main>
    <script src="{{ url_for('static', filename='JavaScript/sidebar.js') }}"></script>
</body>

</html>