<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de cadastro</title>
    <link rel="stylesheet" href="static/CSS/Dados/Autonomo.css">
    <link rel="stylesheet" href="static/CSS/Dados/Cadastro.css">
    <link rel="stylesheet" href="static/CSS/Dados/Empresa.css">
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="static/Imagens/undraw_website_5bo8.svg">
        </div>

        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Empresa</h1>
                    </div>
                    <a href="{{ url_for('login') }}" class="btn-default" id="Entrar">

                        Entrar
                    </a>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="Nome-empresa">Nome da empresa</label>
                        <input id="Nome-empresa" type="text" name="Nome-empresa"
                            placeholder="Digite o nome de sua empresa">
                        <!--required-->
                    </div>

                    <div class="input-box">
                        <label for="CNPJ">CNPJ</label>
                        <input id="CNPJ" type="number" name="CNPJ" placeholder="Digite o seu CNPJ"> <!--required-->
                    </div>

                    <div class="input-box">
                        <label for="Categoria">Categoria de serviço</label>
                        <input id="Categoria" type="number" name="Categoria"
                            placeholder="Digite a sua categoria de serviço">
                        <!--required-->
                    </div>




                </div>

                <a href="{{ url_for('cadastro2') }}" class="btn-default" id="voltar">

                    Voltar
                </a>

                <a href="{{ url_for('adress') }}" class="btn-default" id="Avançar">

                    Avançar
                </a>

            </form>
        </div>
    </div>
</body>

</html>