<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limpeza</title>
    <link rel="stylesheet" href="static/CSS/Serviços/sidebar.css">
    <link rel="stylesheet" href="static/CSS/Styles/style.css">
    <link rel="stylesheet" href="static/CSS/Styles/home.css">
    <link rel="stylesheet" href="static/CSS/Styles/menu.css">
    <link rel="stylesheet" href="static/CSS/Serviços/Atividades.css">
    <link rel="stylesheet" href="static/CSS/Serviços/grid/grid 2.css">
</head>

<body>

</body>

</html>
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/CSS/Serviços/Prestador.css">
</head>

<body>
    <nav id="sidebar">
        <div id="sidebar_content">
            <div id="user">
                <img src="static/Imagens/PedrãoKanbanScrum.jpg" id="user_avatar" alt="Avatar">

                <p id="user_infos">
                    <span class="item-description">
                        Pedrão Scrum
                    </span>
                    <span class="item-description">
                        CADE MINHA TELA!!
                    </span>
                </p>
            </div>

            <ul id="side_items">
                <li class="side-item ">
                    <a href="{{ url_for('prestador') }}">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="item-description">
                            Meu Perfil
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a href="{{ url_for('chat') }}">
                        <i class="fa-brands fa-rocketchat"></i> <span class="item-description">
                            Minhas conversas
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a href="{{ url_for('notificacao') }}">
                        <i class="fa-solid fa-bell"></i>
                        <span class="item-description">
                            Notificações
                        </span>
                    </a>
                </li>

                <li class="side-item active">
                    <a href="{{ url_for('atividade') }}">
                        <i class="fa-solid fa-handshake"></i> <span class="item-description">
                            Atividades
                        </span>
                    </a>
                </li>

                <li class="side-item ">
                    <a href="{{ url_for('historico') }}">
                        <i class="fa-solid fa-table"></i> <span class="item-description">
                            histórico de serviço
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a href="{{ url_for('help_pro') }}">
                        <i class="fa-solid fa-wrench"></i>
                        <span class="item-description">
                            Vire Help PRO
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a href="{{ url_for('denuncia') }}">
                        <i class="fa-solid fa-flag"></i>
                        <span class="item-description">
                            Denunciar
                        </span>
                    </a>
                </li>



                <li class="side-item">
                    <a href="{{ url_for('configuracao') }}">
                        <i class="fa-solid fa-gear"></i>
                        <span class="item-description">
                            Configurações
                        </span>
                    </a>
                </li>
            </ul>


            <button id="open_btn">
                <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <div id="logout">
            <a href="{{ url_for('home') }}" id="logout">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="item-description">
                    Logout
                </span>
            </a>
        </div>
    </nav>

    <main>
        <h1>Informatica</h1>

        <h2>Veja a seguir quais os serviços disponiveis:</h2>
        <div class="grid-container">

            <div class="grid-item">
                <h3>Alexandre Henrique</h3>
                <img src="static/Imagens/Minha foto (2).jpg" id="renan">
                <p class="help"> Eu moro aqui no Itaim Paulista e estou com um problema no meu computador. Toda vez que
                    tento ligar o PC, ele liga, mas a tela fica preta e não aparece nada, nem a inicialização do
                    sistema. Só ouço o ventilador funcionando e os LEDs acesos, mas nada de imagem. Eu já tentei
                    reiniciar e apertar as teclas para entrar no modo de recuperação, mas não resolve. Você tem alguma
                    ideia do que pode ser? Pode ser problema no hardware ou no sistema operacional?
                </p>

                <a href="{{ url_for('home') }}" class="grid-button">
                    <strong>Visualizar</strong>
                </a>

            </div>

            <div class="grid-item">
                <h3>Eliseu Portes</h3>
                <img src="static/Imagens/Dupla.jpg" id="renan">
                <p class="help" id="eliseu"> Sou de Mogi das Cruzes e estou com um problema no meu laptop. Ele está
                    muito lento, até para tarefas simples como navegar na internet ou digitar no Word. Quando tento
                    verificar, aparece uma mensagem dizendo que o "disco está quase cheio". Já apaguei arquivos antigos
                    e desinstalei alguns programas, mas o problema persiste. Será que o problema é no HD ou tem algo a
                    ver com a configuração do sistema? O que você recomenda fazer para melhorar o desempenho?
                </p>

                <a href="{{ url_for('home') }}" class="grid-button" id="eliseus">
                    <strong>Visualizar</strong>
                </a>

            </div>

            <div class="grid-item">
                <h3>Pedro Toledo</h3>
                <img src="static/Imagens/Gato 2.webp" id="renan">
                <p class="help">
                    Sou de Jacareí e estou com um problema no meu computador. Eu estava tentando acessar a internet, mas
                    não estou conseguindo conectar de jeito nenhum. O ícone de Wi-Fi está aparecendo, mas quando tento
                    entrar em qualquer site, aparece a mensagem de "sem acesso à internet". Já reiniciei o modem e o
                    roteador várias vezes, mas nada funciona. O que mais posso tentar? Será que o problema é com a
                    configuração do meu computador ou com a minha internet mesmo?
                </p>

                <a href="{{ url_for('home') }}" class="grid-button">
                    <strong>Visualizar</strong>
                </a>

            </div>

            <div class="grid-item">
                <h3>Benedito Reinan</h3>
                <img src="static/Imagens/Benedito.jpg" id="renan">
                <p class="help">Eu estou com um problema no meu computador. Ele começou a ficar bem lento
                    nos últimos
                    dias, mesmo eu não tendo muitos programas abertos. Já fiz algumas coisas, como limpar o histórico do
                    navegador e desinstalar uns programas que eu não usava mais, mas o desempenho ainda está bem abaixo
                    do normal. Você tem alguma ideia do que pode estar acontecendo ou de como eu posso melhorar a
                    performance do meu PC?
                </p>

                <a href="{{ url_for('home') }}" class="grid-button">
                    <strong>Visualizar</strong>
                </a>

            </div>


            <div class="grid-item">
                <h3>Pedrão Kanban Scrum CRUD</h3>
                <img src="static/Imagens/PedrãoKanbanScrum.jpg" id="renan">
                <p class="help"> Eu estou com um problema na tela do meu computador. De repente, ela
                    começou a piscar e a imagem ficou toda embaralhada, como se estivesse com falhas. Às vezes fica toda
                    preta, e só aparece uma parte da imagem, ou então a tela congela e eu não consigo fazer nada. Já
                    tentei reiniciar, mas não resolveu. Você sabe o que pode ser?
                </p>

                <a href="{{ url_for('home') }}" class="grid-button">
                    <strong>Visualizar</strong>
                </a>

            </div>


            <div class="grid-item">
                <h3>Pedrão Henrique Teixeira</h3>
                <img src="static/Imagens/Gato 3.webp" id="renan">
                <p class="help"> Estou com um problema e não sei mais o que fazer. Eu estava tentando fazer uma
                    atualização do Windows, mas no meio do processo, o computador travou e agora não sai da tela de
                    "reinstalando atualizações". Já faz horas que ele está assim, e não consigo nem desligar o
                    computador direito, só forçando a chave. Isso é normal ou tem algo errado? Você sabe o que posso
                    tentar para resolver?
                </p>

                <a href="{{ url_for('home') }}" class="grid-button">
                    <strong>Visualizar</strong>
                </a>

            </div>

        </div>

    </main>
    <script src="{{ url_for('static', filename='JavaScript/sidebar.js') }}"></script>
</body>

</html>