<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de cadastro</title>
    <link rel="stylesheet" href="static/CSS/Dados/Cadastro.css">
    <link rel="stylesheet" href="static/CSS/Dados/login.css">
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="static/Imagens/undraw_website_5bo8.svg">
        </div>

        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Bem vindo(a) de volta</h1>
                    </div>
                    <a href="{{ url_for('cadastro') }}" class="btn-default" id="Entrar">
                        Cadastre-se
                    </a>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" placeholder="Digite seu email"> <!--required-->
                    </div>

                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="password" placeholder="Digite sua senha">
                        <!--required-->
                    </div>

                    <div class="input-box">
                        <label for="password">Confirme sua senha</label>
                        <input id="Confirmpassword" type="password" name="Confirmpassword"
                            placeholder="Digite sua senha"> <!--required-->
                    </div>

                    <a href="#">Esqueceu sua senha?</a>

                </div>

                <a href="index" class="btn-default" id="Avançar">

                    Fazer Login
                </a>

            </form>
        </div>
    </div>
</body>

</html>