<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politica de privacidade</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="static/CSS/Styles/style.css">
    <link rel="stylesheet" href="static/CSS/Styles/header.css">
    <link rel="stylesheet" href="static/CSS/Styles/home.css">
    <link rel="stylesheet" href="static/CSS/Styles/menu.css">
    <link rel="stylesheet" href="static/CSS/Styles/footer.css">
    <link rel="stylesheet" href="static/CSS/Styles/Politica de privacidade.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>



<body>
    <header>
        <nav id="navbar">
            <i class="fa-solid fa-wrench" id="nav_logo">HELP</i>

            <ul id="nav_list">
                <li class="nav-item active">
                    <a href="{{ url_for('home') }}">Home</a>
                </li>

                <li class="nav-item">
                    <a href="#services">Serviços</a>
                </li>

                <li class="nav-item">
                    <a href="#feedbacks">Avaliações</a>
                </li>
            </ul>

            <button class="btn-default">
                Area Exclusiva
            </button>

            <button id="mobile_btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>

        <div id="mobile_menu">
            <ul id="mobile_nav_list">
                <li class="nav-item">
                    <a href="{{ url_for('home') }}">Home</a>
                </li>

                <li class="nav-item">
                    <a href="#services">Serviços</a>
                </li>

                <li class="nav-item">
                    <a href="#feedbacks">Avaliações</a>
                </li>
            </ul>

            <button class="btn-default">
                Area Exclusiva
            </button>
        </div>
    </header>
    <script src="{{ url_for('static', filename='JavaScript/script.js') }}"></script>

    <main id="content">

        <!--Pagina Home-->
        <section id="home">
            <div class="shape"></div>
            <div id="cta">
                <h1 class="title">Politica de
                    <span>Privacidade</span>
                </h1>

                <p class="description">
                    Nossa plataforma se compromete a proteger a privacidade dos nossos usuários. Por favor, leia
                    cuidadosamente nossa política de privacidade, que explica como coletamos, usamos e protegemos suas
                    informações. Se tiver dúvidas, não hesite em entrar em contato conosco.
                </p>

                <div id="cta_buttons">
                    <a href="{{ url_for('home') }}" class="btn-default">
                        Voltar
                    </a>
                </div>



                <div class="social-media-buttons">
                    <a href="">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>

                    <a href="">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="https://youtu.be/dQw4w9WgXcQ?si=il_WF92SzNVao0EX">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>

            </div>
            <div id="banner">

                <img src="static/Imagens/Banners/Politica de privacidade.png">
            </div>

        </section>


        <!--Politica de privacidade-->

        <section class="PP">
            <h1 id="PPH">Politica de privacidade da HELP</h1>

            <h4>Data de publicação: 03/11/2024</h4>

            <section class="introdução">
                <p><strong>A HELP</strong> protege e cuida pela privacidade e a proteção de dados pessoais de todos
                    aquele
                    com quem se relaciona.
                </p>

                <p>A política de privacidade explica como coletamos, usamos e protegemos as informações pessoais de
                    nossos
                    usuários. Ela abrange informações sobre a coleta de dados, como cookies e informações da conta, como
                    as
                    informações são usadas, com quem são compartilhadas, e as medidas de segurança para proteger as
                    informações dos usuários. Ao usar essa plataforma online, você concorda com os termos da nossa
                    política
                    de privacidade.
                </p>

                <p>É crucial que você leia e compreenda atentamente nossa Política de Privacidade. Por favor,
                    verifique-a
                    regularmente para estar ciente de quaisquer mudanças nas práticas de tratamento de seus dados
                    pessoais.
                </p>

                <p>Em caso de duvidas, por favor entre em contato indicado no final deste documento.</p>

            </section>

            <section class="desenvolvimento">
                <h4 id="title1">1. Quem somos nós?</h4>

                <p class="Dp">O projeto HELP é uma proposta inovadora de plataforma de software destinado a
                    trabalhadores
                    autônomos, com o objetivo de simplificar a solicitação de serviços por parte dos clientes. O
                    principal
                    diferencial da HELP é a sua plataforma, que conecta de maneira eficiente autônomos e clientes,
                    facilitando essa interação por meio de um sistema de comunicação via chat. Essa abordagem torna o
                    contato mais acessível e direto, promovendo uma experiência mais fluida. </p>

                <h4 id="title2">2. O que você precisa saber antes de ler esta política?</h4>

                <p class="Dp">Antes de ler esta política, é importante frisar que esta política descreve como coletamos,
                    armazenamos e usamos suas informações pessoais enquanto você acessam nossos produtos. Esta política
                    também inclui informações sobre como compartilhamos suas informações e as medidas de segurança que
                    usamos para protegê-las. Continue lendo para entender como suas informações pessoais serão tratadas:
                </p>

                <p class="Dp">
                    Dados pessoais sensíveis são as informações que revelam ou cujo tratamento venha revelar origem
                    racial
                    ou étnica, convicção religiosa, opinião política, filiação à sindicato ou à organização de caráter
                    religioso, filosófico ou político, dados de saúde ou sobre a vida sexual, dado genético ou
                    biométrico.
                </p>

                <p class="Dp">Encarregado é o seu canal de contato sobre assuntos relacionados à privacidade e à
                    proteção de
                    dados pessoais. Se você tiver qualquer dúvida sobre como os seus dados pessoais ou de seus
                    dependentes/beneficiários são tratados por nós, é ele quem vai ajudar.
                </p>

                <p class="Dp">Titular é a pessoa física a quem se referem os dados pessoais objeto do tratamento.
                </p>

                <p class="Dp">Tratamento significa qualquer operação realizada com dados pessoais, tais como coleta,
                    produção, classificação, utilização, acesso, processamento, armazenamento, eliminação, modificação,
                    compartilhamento, transferência, entre outros.
                </p>

                <p class="Dp">Sempre que houver menção aos "Termos de Uso da HELP", "Nós" ou "Nossos", estaremos nos
                    referindo à instituição descrita no tópico "Quem somos nós". Da mesma forma, toda vez que
                    mencionarmos
                    "você", "seu" ou "sua", estamos nos referindo a você, titular de dados pessoais, que possui relação
                    com
                    a HELP na qualidade de pessoa interessada, candidato a aluno, aluno e/ou ex-aluno, terceiros
                    relacionados a candidatos ou alunos usuário de nossa rede wi-fi.
                </p>

                <h4 id="title3">3 Quais dados pessoais são tratados e por quê?</h4>

                <p class="Dp">A HELP SP realiza, a depender de sua relação conosco, o tratamento dos dados pessoais a
                    seguir identificados para atendimento às finalidades ora descritas, conforme aplicável:</p>

                <h2>Autônomo</h2>
                <section class="Classes">


                    <div class="container">
                        <div class="item">
                            <h4 class="title-conteiner">Atividade</h4>
                            <p id="text"></p>
                        </div>
                        <div class="item">
                            <h4 class="title-conteiner">Dados pessoais</h4>
                            <p></p>
                        </div>
                        <div class="item">
                            <h4 class="title-conteiner">Finalidade</h4>
                            <p></p>
                        </div>
                    </div>

                </section>

                <h4 id="title4">4. Com quem compartilhamos os seus dados pessoais?</h4>

                <p class="Dp">Poderemos compartilhar os seus dados pessoais com entidades que compõem a nossa estrutura
                    organizacional
                    (Administração Nacional e as demais Administrações Regionais), com empresas com as quais mantemos
                    algum
                    tipo de relação comercial, com seu responsável legal e/ou financeiro ou, ainda, com órgãos públicos,
                    tais como parceiros comerciais, instituições bancárias, escritórios de advocacia, empresas de
                    suporte
                    aos nossos sistemas, bureaus de crédito, consultorias contábeis, órgãos públicos e o Poder
                    Judiciário.
                    Os seus dados pessoais podem ser compartilhados para finalidades legítimas da seguinte maneira:</p>

                <p class="Dp">- Para condução das atividades de tratamento de dados pessoais descritas nesta Política
                    e/ou
                    decorrentes de seu relacionamento e contrato de prestação de serviços conosco;
                </p>

                <p class="Dp">- Para permitir que terceiros forneçam serviços para a HELP e/ou acompanhem a prestação de
                    serviços contratada, conforme aplicável;
                </p>

                <p class="Dp">- Para obedecer as nossas obrigações legais, regulatórias ou contratuais, ou responder a
                    um
                    processo judicial ou administrativo, auditoria ou solicitações legais por autoridades competentes,
                    quando entendermos que estamos legalmente obrigados a fazê-lo ou, ainda, para fins de atendimento a
                    ofícios relacionados a processos seletivos e/ou concursos públicos dos quais você participa. As
                    categorias de destinatários incluem, por exemplo, contrapartes em contratos, órgãos judiciais e
                    governamentais;
                </p>

                <p class="Dp">- Para exercício legítimo de direito em processo judicial, administrativo ou arbitral,
                    inclusive prevenindo lesão ou ameaça a direito;
                </p>

                <p class="Dp">- Quando for necessário para proteger você, A HELP e seus interesses legítimos e/ou
                    terceiros;
                </p>

                <p class="Dp">- Como parte de due diligence corporativa e/ou due diligence relativa à fusão, aquisição,
                    alteração societária, ou em casos de recuperação judicial ou falência, nós podemos divulgar os seus
                    dados pessoais ao potencial vendedor ou comprador, novo prestador de serviços e respectivos
                    assessores,
                    na medida do quanto necessário e adequado para o atingimento da aludida finalidade;
                </p>

                <p class="Dp">- Com o seu consentimento legalmente obtido, isto é dado de forma voluntária e sem que
                    você
                    sofra qualquer consequência adversa de sua decisão que negar ou revogar o seu consentimento.
                </p>

                <p class="Dp">Informações agregadas e anonimizadas poderão ser livremente compartilhadas.
                </p>

                <p class="Dp">Para resguardar a sua privacidade, utilizamos instrumentos contratuais e auditorias para
                    assegurar que os terceiros que recebam os seus dados pessoais confiram a ele a mesma proteção que
                    nós
                    proporcionamos.
                </p>

                <p class="Dp">Atualmente, apenas compartilhamos os seus dados pessoais em território nacional. Caso haja
                    transferência dos seus dados pessoais para fora do Brasil, nos certificaremos de que essa
                    transferência
                    ocorra em observância à legislação brasileira e que você seja informado de tal compartilhamento,
                    sempre
                    que exigido pela legislação aplicável.
                </p>

                <p class="Dp">Você pode ter mais informações sobre os terceiros com quem compartilhamos os seus dados
                    pessoais por meio de requisição específica, conforme indicado no tópico que trata sobre os seus
                    direitos.
                </p>

                <h4 id="title5">5. Por quanto tempo tratamos os seus dados pessoais? </h4>

                <p class="Dp">Os seus dados pessoais serão tratados pelo tempo que for necessário para cumprir a
                    finalidade
                    para a qual eles foram coletados, a menos que um período de retenção mais longo seja necessário para
                    cumprir obrigações legais, resolver disputas, proteger nossos ativos ou cumprir acordos
                    judiciais/extrajudiciais.
                </p>

                <p class="Dp">Para determinar o período de retenção de seus dados pessoais, além do critério acima
                    indicado,
                    baseamo-nos nos seguintes critérios:
                </p>

                <p class="Dp">- Existência de uma obrigação legal ou contratual de reter os dados pessoais;
                </p>

                <p class="Dp">- Necessidade dos dados pessoais para investigação, auditoria ou exercício regular de
                    nossos
                    direitos em processos judiciais, administrativos ou arbitrais;
                </p>

                <p class="Dp">- Utilidade dos dados pessoais para fins de manutenção de registros precisos,
                    especialmente
                    financeiros e educacionais.
                </p>

                <p class="Dp"> Podemos manter os seus dados pessoais, de forma anonimizada, ou seja, que não mais se
                    refere
                    a você pessoalmente, para fins estatísticos, sem limite de tempo, na medida em que tenhamos
                    interesse
                    legítimo e respaldo legal.

                </p>

                <h4 id="title6">6. Como mantemos seus dados pessoais seguros?</h4>

                <p class="Dp">-Adotamos medidas administrativas e técnicas, continuamente monitoradas e revisadas, de
                    acordo
                    com os avanços tecnológicos, aptas a manter os seus dados pessoais sob nossa responsabilidade
                    protegidos
                    de acessos não autorizados e de situações acidentais ou ilícitas de destruição, perda, alteração,
                    comunicação ou qualquer outra forma de tratamento inadequado ou ilícito.
                </p>

                <p class="Dp">Nossos sistemas eletrônicos e arquivos físicos atendem aos padrões de segurança da
                    informação
                    adequados, tais como:
                </p>

                <p class="Dp">
                    - Controle restrito de acesso interno;
                </p>

                <p class="Dp">- Proteção contra acessos não autorizados com a utilização de instrumentos de dupla
                    autenticação, senha e chaves;
                </p>

                <p class="Dp">
                    - Manutenção de inventário dos acessos, com o momento, a duração, a identificação do responsável
                    pelo
                    acesso e dados acessados.
                </p>

                <p class="Dp">Quaisquer comunicações legalmente exigidas sobre eventuais incidentes de segurança que
                    possam
                    acarretar perdas de disponibilidade, confidencialidade ou integridade dos dados pessoais sob nossa
                    responsabilidade serão notificadas adequadamente às autoridades competentes e aos titulares
                    afetados.

                </p>

                <h4 id="title7"> 7. Quais são os seus direitos?</h4>
                <p class="Dp">Você, enquanto titular de dados pessoais, possui os seguintes direitos relativos aos seus
                    dados pessoais:
                </p>

                <h4 id="title8">8. Políticas de terceiros e atualizações desta política</h4>

                <p class="Dp">Não somos responsáveis pelas práticas de privacidade de terceiros. Portanto, sempre quando
                    você for direcionado a outro domínio que não a HELP e/ou tenha acesso, em decorrência de sua
                    relação conosco, a serviços de terceiros por nós não controlados, recomendamos que você analise as
                    suas
                    respectivas declarações de privacidade, entrando diretamente em contato com o terceiro responsável
                    em
                    caso de dúvidas.</p>

                <p class="Dp">Poderemos, ocasionalmente, atualizar a presente Política. Sempre quando ocorrer alguma
                    alteração material significativa, como sobre a finalidade para a qual tratamos os seus dados
                    pessoais,
                    bem como a forma e duração do tratamento, utilizaremos esforços razoáveis para que você tenha
                    ciência
                    das modificações.
                </p>

                <h4 id="title9">9. Dúvidas?</h4>

                <p class="Dp">Se você tiver quaisquer dúvidas sobre esta Política ou como tratamos os seus dados
                    pessoais,
                    entre em contato pelo e-mail: pedrãokambanscrum@gmail.com </p>
                <strong>
                    <p class="Dp">Encarregado de Dados da HELP</p>
                </strong>
                <p class="Dp">Contato: pedrãokambanscrum@gmail.com</p>
            </section>
        </section>


        <!--Rodapé-->
        <footer>
            <div id="footer_content">
                <div id="fotter_contacts">
                    <h1>HELP</h1>
                    <p>Chamou? Dá um HELP aí</p>


                    <div id="footer_social-media">
                        <a href="#" class="footer_link" id="Instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>

                        <a href="#" class="footer_link" id="Facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>

                        <a href="https://youtu.be/dQw4w9WgXcQ?si=il_WF92SzNVao0EX" class="footer_link" id="Youtube">
                            <i class="fa-brands fa-youtube"></i>
                        </a>


                    </div>
                </div>

                <ul class="footer-list">
                    <li>
                        <h3>A HELP</h3>
                    </li>

                    <li>
                        <a href="{{ url_for('sobre_nos') }}" class="footer_link"> Sobre nós </a>
                    </li>

                    <li>
                        <a href="#" class="footer_link"> Carreiras</a>
                    </li>

                    <li>
                        <a href="{{ url_for('mobile') }}" class="footer_link"> Aplicativo Mobile </a>
                    </li>

                    <li>
                        <a href="#" class="footer_link"> Duvidas Frequentes </a>
                    </li>
                </ul>


                <ul class="footer-list">
                    <li>
                        <h3>Relacionamento ao cliente</h3>
                    </li>

                    <li>
                        <a href="{{ url_for('politica') }}" class="footer_link"> Politica de privacidade </a>
                    </li>

                    <li>
                        <a href="#" class="footer_link"> Alerta de segurança </a>
                    </li>

                    <li>
                        <a href="{{ url_for('termos') }}" class="footer_link"> Termos de uso </a>
                    </li>

                    <li>
                        <a href="#" class="footer_link"> Fale conosco </a>
                    </li>
                </ul>

                <div id="footer_subscribe">
                    <h3>Cadastre-se</h3>

                    <p>Fique por dentro das novidades da HELP, cadastre-se!</p>

                    <div id="input_group">
                        <input type="email" name="" id="">
                        <button>
                            <a href="Cadastro.html"><i class="fa-regular fa-envelope"></i></a>
                        </button>
                    </div>
                </div>
            </div>

            <div id="footer_copyright">
                &#169
                2024 todos os direitos reservados
            </div>
        </footer>

    </main>
</body>