<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página inicial</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{{ url_for('static', filename='CSS/style.css') }}" rel="stylesheet"  />
</head>

<body>
    <header>
        <nav>
            <a class="logo" href="{{ url_for('home') }}">HELP</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('servicos') }}">Serviços</a></li>
                <li><a href="{{ url_for('orcamento') }}">Orçamento</a></li>
                <li><a href="{{ url_for('historico_consulta') }}">Histórico de Consulta</a></li>
                <li><a href="{{ url_for('sobre_nos') }}">Sobre nós</a></li>
            </ul>

            <form action="{{ url_for('login') }}" method="post">
                <button type="submit" class="enter">Entrar</button>
            </form>
        </nav>
    </header>
    <script src="{{ url_for('static', filename='JavaScript/mobile-navbar.js') }}"></script>

    <!-- Conteúdo do site -->
    <p></p>

    <main></main>
    
    <!-- Rodapé -->
    <footer>
        <div id="footer_content">
            <div id="fotter_contacts">
                <h1>HELP</h1>
                <p>Chamou? Dá um HELP aí</p>

                <div id="footer_social-media">
                    <a href="#" class="footer_link" id="Instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" class="footer_link" id="Facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="https://youtu.be/dQw4w9WgXcQ?si=il_WF92SzNVao0EX" class="footer_link" id="Youtube">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
            </div>

            <ul class="footer-list">
                <li><h3>A HELP</h3></li>
                <li><a href="{{ url_for('sobre_nos') }}" class="footer_link">Sobre nós</a></li>
                <li><a href="#" class="footer_link">Carreiras profissionais</a></li>
                <li><a href="#" class="footer_link">Iniciativa para jovens</a></li>
                <li><a href="#" class="footer_link">Dúvidas Frequentes</a></li>
            </ul>

            <ul class="footer-list">
                <li><h3>Relacionamento ao cliente</h3></li>
                <li><a href="#" class="footer_link">Política de privacidade</a></li>
                <li><a href="#" class="footer_link">Alerta de segurança</a></li>
                <li><a href="{{ url_for('termos') }}" class="footer_link">Termos de uso</a></li>
                <li><a href="#" class="footer_link">Fale conosco</a></li>
            </ul>

            <div id="footer_subscribe">
                <h3>Cadastre-se</h3>
                <p>Fique por dentro das novidades da HELP, cadastre-se!</p>
                <div id="input_group">
                    <input type="email" name="email" placeholder="Seu email" required>
                    <a href="{{ url_for('cadastro') }}" class="button">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>

        <div id="footer_copyright">
            &#169; 2024 all rights reserved
        </div>
    </footer>

</body>
</html>
