<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="static/CSS/Styles/style.css">
    <link rel="stylesheet" href="static/CSS/Styles/header.css">
    <link rel="stylesheet" href="static/CSS/Styles/home.css">
    <link rel="stylesheet" href="static/CSS/Styles/menu.css">
    <link rel="stylesheet" href="static/CSS/Styles/Testemunials.css">
    <link rel="stylesheet" href="static/CSS/Styles/footer.css">
    <link rel="stylesheet" href="static/CSS/Styles/aboutus.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <header>
        <nav id="navbar">
            <i class="fa-solid fa-wrench" id="nav_logo">HELP</i>

            <ul id="nav_list">
                <li class="nav-item active">
                    <a href="{{ url_for('home') }}" >
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#services">Serviços</a>
                </li>

                <li class="nav-item">
                    <a href="#feedbacks">Avaliações</a>
                </li>
            </ul>

            <button class="btn-default">
                Area Exclusiva
            </button>

            <button id="mobile_btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>

        <div id="mobile_menu">
            <ul id="mobile_nav_list">
                <li class="nav-item">
                    <a href="{{ url_for('home') }}" >
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#services">Serviços</a>
                </li>

                <li class="nav-item">
                    <a href="#feedbacks">Avaliações</a>
                </li>
            </ul>

            <button class="btn-default">
                Area Exclusiva
            </button>
        </div>
    </header>
    <script src="{{ url_for('static', filename='JavaScript/script.js') }}"></script>
    <main id="content">

        <!--Pagina Home-->
        <section id="home">
            <div class="shape"></div>
            <div id="cta">
                <h1 class="title">Sobre
                    <span>Nós</span>
                </h1>

                <p class="description">
                    Quer saber mais sobre nós? Clique neste botão e leia todos os detalhes sobre nossa história, missão,
                    valores e visão. Entenda como trabalhamos e o que nos torna únicos no mercado.
                </p>

                <div id="cta_buttons">
                    <a href="{{ url_for('home') }}" >
                        Home
                    </a>
                </div>



                <div class="social-media-buttons">
                    <a href="">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>

                    <a href="">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="https://youtu.be/dQw4w9WgXcQ?si=il_WF92SzNVao0EX">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>

            </div>
            <div id="banner">

                <img id="static/img-banner" src="static/Imagens/Banners/About us.webp">
            </div>

        </section>

        <!--Sobre nós-->
        <section class="aboutus">
            <div class="conteiner-left">
                <div class="text">
                    <h1>Sobre-nós</h1>
                    <h3 class="esquerda">A origem da HELP</h3>
                    <p>A HELP, uma empresa originada como um projeto interdisciplinar do 2° semestre do curso de
                        engenharia
                        de
                        software na Universidade Mogi das Cruzes (UMC). Fundada em 2024 pelos universitários da UMC, a
                        HELP
                        começou como um pequeno planejamento, com o objetivo de facilitar os serviços dos trabalhadores
                        autônomos. Ao longo do tempo, estamos crescendo e aprimorando nossas habilidades, sempre com o
                        mesmo
                        objetivo de contratar os trabalhadores autônomos mais próximos de sua região para resolver os
                        problemas
                        maneira mais rápida e eficiente. Hoje somos uma pequena equipe sempre pensando no conforto do
                        cliente,
                        mantendo os nossos valores e princípios.</p>
                </div>
                <img id="Imagem" src="static/Imagens/Aplicativo/HELP - Logo.jpg">
            </div>

            <div class="conteiner-right">
                <img src="static/Imagens/Gato.webp">
                <div class="text">
                    <div class="direita">
                        <h1>Sobre-nós</h1>
                        <h3>A missão e a empresa</h3>
                        <p>O principal objetivo de nossa empresa é desenvolver uma plataforma abrangente que atenda a
                            todas as necessidades dos trabalhadores autônomos e de seus usuários em um único sistema
                            integrado. Nossa missão é proporcionar aos clientes a possibilidade de contratar prestadores
                            de serviços autônomos que estejam localizados próximos à sua região e que possuam
                            especialização na área exigida. Essa plataforma visa facilitar o processo de contratação,
                            garantindo que os clientes
                            encontrem profissionais qualificados de maneira rápida e eficiente. Além disso, buscamos
                            assegurar que os serviços prestados sejam de alta qualidade, atendendo às expectativas e
                            necessidades específicas de cada cliente. Ao centralizar todas essas funcionalidades em um
                            único sistema, pretendemos criar um
                            ambiente de confiança e eficiência, onde tanto os trabalhadores autônomos quanto os clientes
                            possam se beneficiar de uma experiência otimizada e satisfatória.</p>
                    </div>
                </div>

            </div>

            <div class="conteiner-left">
                <div class="text">
                    <h1>Sobre-nós</h1>
                    <h3 class="esquerda">Os valores da empresa</h3>
                    <p>Na HELP, acreditamos que nossos valores são a base de tudo o que fazemos. Eles nos
                        orientam, inspiram e definem a maneira como nos relacionamos com nossos clientes, parceiros e
                        colaboradores. Somos comprometidos com a construção de um futuro sustentável e de confiança, e
                        buscamos sempre ser uma empresa que promove integridade, inovação e respeito.</p>

                    <h4>1. Compromisso com qualidade</h4>
                    <p>A excelência é o nosso padrão. Estamos sempre em busca de aprimoramento contínuo, oferecendo
                        produtos e serviços que atendem às mais altas expectativas e superam os desafios do mercado.</p>

                    <h4>2. Ética e Transparência</h4>

                    <p>Agir com honestidade e transparência é fundamental em todas as nossas interações. Acreditamos que
                        a confiança é o alicerce de relações duradouras, e nos esforçamos para sempre agir com
                        integridade, respeitando nossos clientes e colaboradores.</p>

                    <h4>3. Inovação e Criatividade</h4>

                    <p>A inovação está no coração do nosso trabalho. Buscamos soluções criativas e eficazes para os
                        desafios de hoje e de amanhã, adotando novas tecnologias e abordagens que permitem o crescimento
                        constante.</p>

                    <h4>4. Valorização das Pessoas</h4>

                    <p>Nosso maior ativo são as pessoas que fazem parte da nossa jornada. Investimos no desenvolvimento
                        de nossos colaboradores, promovendo um ambiente de trabalho inclusivo, colaborativo e motivador,
                        onde todos têm a oportunidade de crescer e prosperar.</p>

                    <h4>5. Foco no Cliente</h4>

                    <p>O sucesso dos nossos clientes é o nosso sucesso. Estamos sempre atentos às suas necessidades,
                        buscando oferecer soluções personalizadas e um atendimento excepcional que gere valor real e
                        duradouro.</p>
                </div>
                <img id="Imagem" src="static/Imagens/Aplicativo/HELP - Logo.jpg">
            </div>

            <div class="conteiner-right">
                <img src="static/Imagens/Gato.webp">
                <div class="text">
                    <div class="direita">

                        <h3>O Motivo da Fundação da HELP</h3>

                        <p>A HELP foi criada com um propósito simples, mas impactante: facilitar a conexão
                            entre clientes e prestadores de serviços autônomos de maneira rápida, segura e eficiente.
                            Sabemos que, no mundo atual, tanto os clientes quanto os profissionais autônomos enfrentam
                            desafios ao tentar se encontrar e estabelecer uma parceria de confiança. Por isso, decidimos
                            fundar nossa empresa para simplificar e transformar essa relação.</p>

                        <p class="pulo">Antes da nossa fundação, tanto clientes quanto prestadores de serviços muitas
                            vezes
                            se viam
                            perdidos em um mar de incertezas ao buscar ou oferecer serviços de qualidade. A falta de uma
                            plataforma confiável, ágil e fácil de usar para essa conexão era um obstáculo, e foi com
                            esse cenário em mente que a [Nome da Empresa] surgiu. Nosso objetivo era criar uma solução
                            que agilizasse a comunicação, garantisse segurança nas transações e oferecesse um ambiente
                            de confiança mútua entre as partes.</p>

                        <p class="pulo">Por meio da nossa plataforma, buscamos reduzir a burocracia e as incertezas,
                            proporcionando
                            uma experiência que beneficia tanto quem contrata quanto quem presta o serviço. Nós
                            entendemos que para os prestadores de serviços autônomos, muitas vezes o maior desafio é
                            encontrar clientes que valorizem seu trabalho, e para os clientes, a maior dificuldade é
                            identificar profissionais qualificados e confiáveis para realizar o serviço com qualidade e
                            dentro do prazo.</p>

                        <h4 id="pq">Por que fundamos a HELP?</h4>

                        <p>Para simplificar o processo de contratação de serviços autônomos, criar um espaço onde a
                            comunicação fosse direta, rápida e transparente, e permitir que tanto clientes quanto
                            prestadores de serviços encontrassem o que precisavam com mais facilidade e confiança. Nosso
                            compromisso é fornecer uma plataforma que agregue valor, conecte pessoas com excelência e
                            contribua para a construção de um mercado mais justo e acessível para todos.</p>

                        <p class="pulo">A HELP nasceu com a missão de criar um ambiente em que todos saiam ganhando:
                            clientes encontrem profissionais qualificados de forma rápida e prática, e prestadores de
                            serviços possam expandir suas oportunidades de trabalho, com mais segurança e visibilidade.
                        </p>
                    </div>
                </div>



            </div>

            <div class="conteiner-left">
                <div class="text">
                    <h3 class="esquerda">
                        Aspirações de Crescimento da HELP</h3>

                    <P>Na HELP, estamos apenas começando nossa jornada, mas já temos uma visão clara e
                        ambiciosa do futuro. Nosso crescimento não se limita apenas a números ou expansão geográfica,
                        mas está fundamentado no compromisso contínuo de inovar e aprimorar a experiência tanto para os
                        clientes quanto para os prestadores de serviços autônomos.</P>

                    <p>
                        Nosso primeiro grande objetivo é <strong>expandir nosso alcance,</strong> tornando a nossa
                        plataforma disponível
                        para ainda mais pessoas, tanto clientes quanto prestadores de serviços, em diversas regiões.
                        Acreditamos que, à medida que nossa base de usuários cresce, teremos a oportunidade de melhorar
                        ainda mais o serviço, oferecendo soluções personalizadas que atendam a diferentes demandas e
                        realidades.
                    </p>

                    <p>Estamos comprometidos em investir constantemente em tecnologia para tornar o processo de
                        contratação mais ágil, seguro e transparente. Queremos desenvolver novas funcionalidades que
                        atendam às necessidades dos nossos usuários, como integração de inteligência artificial para
                        recomendações de serviços, ferramentas de feedback mais robustas e um sistema de pagamentos cada
                        vez mais eficiente e seguro.</p>

                    <p>Nossa visão de crescimento também envolve fortalecer parcerias com outras empresas e plataformas,
                        ampliando a rede de profissionais e clientes que podemos conectar. Acreditamos que, por meio de
                        alianças estratégicas, podemos criar um ecossistema de serviços mais completo, oferecendo aos
                        nossos usuários uma gama ainda maior de opções e oportunidades.

                    </p>

                    <p>Queremos ser mais do que uma plataforma de conexão; aspiramos a ser um centro de educação e
                        capacitação para prestadores de serviços autônomos. Ao oferecer treinamentos, certificações e
                        recursos de desenvolvimento profissional, buscaremos empoderar os autônomos, ajudando-os a
                        aprimorar suas habilidades e a se destacarem em um mercado cada vez mais competitivo.

                    </p>

                    <p>Nosso crescimento também está diretamente ligado ao fortalecimento da nossa marca como um símbolo
                        de confiança e qualidade. Queremos ser reconhecidos como a plataforma líder para contratação de
                        serviços autônomos, um espaço onde a excelência, a transparência e a segurança andam de mãos
                        dadas.

                    </p>

                    <p>Nos próximos anos, planejamos expandir nossa plataforma internacionalmente, levando nossa
                        proposta de valor a novos mercados e ajudando ainda mais pessoas a encontrarem e oferecerem
                        serviços de qualidade de maneira fácil e eficiente.

                    </p>

                    <p>Nosso objetivo é ser a plataforma preferida para a contratação de serviços autônomos, e para
                        isso, seguimos comprometidos com a melhoria constante, inovação e a criação de uma experiência
                        única para nossos usuários.

                    </p>
                </div>
                <img id="Imagem" src="static/Imagens/Aplicativo/HELP - Logo.jpg">
            </div>

        </section>



        <!--Rodapé-->
        <footer>
            <div id="footer_content">
                <div id="fotter_contacts">
                    <h1>HELP</h1>
                    <p>Chamou? Dá um HELP aí</p>


                    <div id="footer_social-media">
                        <a href="#" class="footer_link" id="Instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>

                        <a href="#" class="footer_link" id="Facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>

                        <a href="https://youtu.be/dQw4w9WgXcQ?si=il_WF92SzNVao0EX" class="footer_link" id="Youtube">
                            <i class="fa-brands fa-youtube"></i>
                        </a>


                    </div>
                </div>

                <ul class="footer-list">
                    <li>
                        <h3>A HELP</h3>
                    </li>

                    <a href="{{ url_for('sobre_nos') }}" class="footer_link">
                        Sobre-nós
                    </a>

                    <li>
                        <a href="#" class="footer_link"> Carreiras</a>
                    </li>

                    <li>
                        <a href="{{ url_for('mobile') }}" class="footer_link">
                            Aplicativo Mobile
                        </a>
                    </li>

                    <li>
                        <a href="#" class="footer_link"> Duvidas Frequentes </a>
                    </li>
                </ul>


                <ul class="footer-list">
                    <li>
                        <h3>Relacionamento ao cliente</h3>
                    </li>

                    <li>
                        <a href="Politica de privacidade.html" class="footer_link"> Politica de privacidade </a>
                    </li>

                    <li>
                        <a href="#" class="footer_link"> Alerta de segurança </a>
                    </li>

                    <li>
                        <a href="Termos de uso.html" class="footer_link"> Termos de uso </a>
                    </li>

                    <li>
                        <a href="#" class="footer_link"> Fale conosco </a>
                    </li>
                </ul>

                <div id="footer_subscribe">
                    <h3>Cadastre-se</h3>

                    <p>Fique por dentro das novidades da HELP, cadastre-se!</p>

                    <div id="input_group">
                        <input type="email" name="" id="">
                        <button>
                            <a href="Cadastro.html"><i class="fa-regular fa-envelope"></i></a>
                        </button>
                    </div>
                </div>
            </div>

            <div id="footer_copyright">
                &#169
                2024 todos os direitos reservados
            </div>
        </footer>

    </main>
</body>