<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Termos de uso </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Termos de uso.css') }}" />
</head>

<body>
    <header>

        <nav> <!-- Menu Mobile-->

            <a class="logo" href="{{ url_for('home') }}">HELP</a>

            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="index.html">Home</a></li>
                <li><a href="Serviços.html">Serviços</a></li>
                <li><a href="Orçamento.html">Orçamento</a></li>
                <li><a href="HC.Html">Histórico de Consulta</a></li>
                <li><a href="Sobre-nós.html">Sobre nós</a></li>

            </ul>
        </nav>
    </header>
    <script src="{{ url_for('static', filename='JavaScript/mobile-navbar.js') }}"></script>

    <!------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------->

    <!-- Conteúdo do site-->


    <div class="caixa">
        <h1>Termos de uso</h1>

        <h3 class="title"> 1. Introdução </h3>


        <p class="Paragrafo">Bem-vindo ao HELP ("Aplicativo"), uma plataforma desenvolvida pela HELP Tecnologia
            Ltda.
            ("Empresa") para
            conectar trabalhadores autônomos ("Usuários") a clientes e oportunidades de trabalho. Ao utilizar o
            Aplicativo,
            você concorda com os seguintes Termos e Condições de Uso. Leia-os atentamente antes de usar os nossos
            serviços.
        </p>

        <h3> 2. Aceitação dos Termos</h3>

        <p class="Paragrafo">Ao se cadastrar no Aplicativo, o Usuário declara ter lido e aceito integralmente os
            Termos
            e Condições aqui
            estabelecidos. Caso o Usuário não concorde com qualquer cláusula, recomenda-se que interrompa o uso
            imediatamente.
        </p>

        <h3>3. Cadastro e Conta do Usuário</h3>

        <p class="Paragrafo">Para utilizar os serviços do Aplicativo, o Usuário deve:
            - Fornecer informações verdadeiras, completas e atualizadas.
            - Ser maior de 18 anos ou estar devidamente autorizado por seus responsáveis legais.
            - Manter a segurança e a confidencialidade de suas credenciais de acesso.
        </p>

        <h3>4. Serviços Oferecidos</h3>

        <p class="Paragrafo">O Aplicativo atua como um intermediário digital entre trabalhadores autônomos e
            clientes,
            facilitando a
            contratação de serviços de forma direta entre as partes. O HELP não é empregador dos Usuários e não
            oferece
            garantias quanto à qualidade ou conclusão dos serviços prestados.</p>

        <h3>5. Responsabilidades dos Usuários</h3>

        <p class="Paragrafo">O Usuário compromete-se a:
            - Cumprir todas as leis aplicáveis, inclusive tributárias e trabalhistas.
            - Fornecer serviços de qualidade, conforme descrito nas ofertas de trabalho.
            - Não violar os direitos de terceiros, incluindo, mas não se limitando a, direitos de propriedade
            intelectual e
            de privacidade.
            - Respeitar a privacidade e os dados pessoais dos clientes, conforme a LGPD.
        </p>

        <h3>6. Remuneração e Pagamento</h3>

        <p class="Paragrafo">O valor e as condições de pagamento dos serviços prestados serão estabelecidos
            diretamente
            entre o Usuário e
            o
            cliente. O HELP pode oferecer soluções de pagamento, mas não é responsável por inadimplência ou questões
            relacionadas ao pagamento.
        </p>

        <h3>7. Proteção de Dados e Privacidade</h3>

        <p class="Paragrafo">O HELP se compromete a proteger os dados pessoais dos Usuários, conforme a Lei Geral de
            Proteção de Dados
            (Lei nº
            13.709/2018). A coleta e o tratamento de dados ocorrerão para fins específicos, legítimos e informados
            previamente ao Usuário.
        </p>

        <h3>
            7.1. Finalidade do Tratamento de Dados</h3>

        <p class="Paragrafo">O Aplicativo coleta e trata dados pessoais dos Usuários para:
            - Viabilizar o funcionamento da plataforma e conectar trabalhadores e clientes.
            - Realizar análises e melhorias no serviço oferecido.
            - Cumprir com obrigações legais e regulatórias.
        </p>

        <h3>7.2. Compartilhamento de Dados</h3>

        <p class="Paragrafo">Os dados pessoais do Usuário podem ser compartilhados com terceiros apenas quando
            necessário para a execução
            dos
            serviços ou conforme exigido por lei.
        </p>

        <h3>7.3. Direitos dos Usuários
        </h3>

        <p class="Paragrafo">O Usuário tem o direito de acessar, corrigir, excluir e solicitar a portabilidade dos
            seus
            dados pessoais,
            conforme previsto na LGPD. Para exercer esses direitos, entre em contato com nossa equipe de suporte.
        </p>

        <h3>8. Propriedade Intelectual</h3>

        <p class="Paragrafo">O conteúdo e as funcionalidades do Aplicativo, incluindo logotipos, marcas, textos e
            imagens, são de
            propriedade
            exclusiva da HELP Tecnologia Ltda. ou licenciados para seu uso. O uso indevido de qualquer propriedade
            intelectual é proibido e sujeitará o infrator às penalidades cabíveis.
        </p>

        <h3>9. Isenção de Responsabilidades</h3>

        <p class="Paragrafo">O HELP não se responsabiliza por:
            - Qualquer dano ou prejuízo resultante da relação entre o Usuário e o cliente.
            - Inadimplência ou litígios que possam surgir durante ou após a prestação de serviços.
            - Falhas técnicas que possam interromper temporariamente o funcionamento do Aplicativo.
        </p>

        <h3>10. Legislação Aplicável e Foro</h3>

        <p class="Paragrafo">Estes Termos e Condições são regidos pelas leis da República Federativa do Brasil,
            incluindo a Lei Geral de
            Proteção de Dados (LGPD) e a legislação trabalhista aplicável aos trabalhadores autônomos. Qualquer
            disputa
            relacionada ao uso do Aplicativo será submetida ao foro da Comarca de [Cidade], Estado de [Estado], com
            renúncia
            a qualquer outro, por mais privilegiado que seja.
        </p>

        <h3>11. Alterações nos Termos</h3>

        <p class="Paragrafo">A HELP Tecnologia Ltda. se reserva o direito de modificar estes Termos e Condições a
            qualquer momento,
            mediante
            aviso prévio ao Usuário. O uso contínuo do Aplicativo após tais alterações será considerado como
            aceitação
            das
            mesmas.</p>

        <h3>12. Contato</h3>

        <p class="Paragrafo">
            Em caso de dúvidas ou solicitações relacionadas a estes Termos e Condições ou à proteção de dados, o
            Usuário
            pode entrar em contato através do e-mail: [helpapp@company.com].</p>
    </div>



    <!--Rodapé-->
    <footer>
        <div id="footer_content">
            <div id="fotter_contacts">
                <h1>HELP</h1>
                <p>Chamou? Dá um HELP aí</p>


                <div id="footer_social-media">
                    <a href="#" class="footer_link" id="Instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#" class="footer_link" id="Facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>

                    <a href="https://youtu.be/dQw4w9WgXcQ?si=il_WF92SzNVao0EX" class="footer_link" id="Youtube">
                        <i class="fa-brands fa-youtube"></i>
                    </a>


                </div>
            </div>

            <ul class="footer-list">
                <li>
                    <h3>A HELP</h3>
                </li>

                <li>
                    <a href="Sobre-nós.html" class="footer_link"> Sobre nós </a>
                </li>

                <li>
                    <a href="#" class="footer_link"> Carreiras profissionais </a>
                </li>

                <li>
                    <a href="#" class="footer_link"> Iniciativa para jovens </a>
                </li>

                <li>
                    <a href="#" class="footer_link"> Duvidas Frequentes </a>
                </li>
            </ul>


            <ul class="footer-list">
                <li>
                    <h3>Relacionamento ao cliente</h3>
                </li>

                <li>
                    <a href="#" class="footer_link"> Politica de privacidade </a>
                </li>

                <li>
                    <a href="#" class="footer_link"> Alerta de segurança </a>
                </li>

                <li>
                    <a href="#" class="footer_link"> Termos de uso </a>
                </li>

                <li>
                    <a href="#" class="footer_link"> Fale conosco </a>
                </li>
            </ul>

            <div id="footer_subscribe">
                <h3>Cadastre-se</h3>

                <p>Fique por dentro das novidades da HELP, cadastre-se!</p>

                <div id="input_group">
                    <input type="email" name="" id="">
                    <button>
                        <a href="Cadastro.html"><i class="fa-regular fa-envelope"></i></a>
                    </button>
                </div>
            </div>
        </div>

        <div id="footer_copyright">
            &#169
            2024 all rights reserved
        </div>
    </footer>

</body>

</html>